In [1]:
import pandas as pd
from collections import Counter

In [2]:
# filepath = "Resources/pre-covid-test-data.csv"
# df = pd.read_csv(filepath, header = None)

In [3]:
filepath = "Resources/PREDICTIONS_pre_covid_lr_model.csv"
df = pd.read_csv(filepath)

In [4]:
# df.columns
df.drop(["Unnamed: 0"], axis = 1, inplace = True)
df

,predicted_label,text,words
0,Neutral,"Stitch Fix, Inc. (SFIX) CEO Katrina Lake on Q4...","['stitch', 'fix,', 'inc.', '(sfix)', 'ceo', 'k..."
1,Neutral,Goldman Sachs reshuffles Asia M&A leadership a...,"['goldman', 'sachs', 'reshuffles', 'asia', 'm&..."
2,Positive,What We Learned From Amazon's Big Hardware Ann...,"['what', 'we', 'learned', 'from', ""amazon's"", ..."
3,Positive,Cerner: A Great Stock To Add To Your Portfolio...,"['cerner:', 'a', 'great', 'stock', 'to', 'add'..."
4,Neutral,Johnson & Johnson settles Ohio lawsuits to avo...,"['johnson', '&', 'johnson', 'settles', 'ohio',..."
...,...,...,...
9145,Positive,This mobile WiFi company is seeing a huge dema...,"['this', 'mobile', 'wifi', 'company', 'is', 's..."
9146,Neutral,"Fox Selling $1.2 Billion In Debt, Follows Disn...","['fox', 'selling', '$1.2', 'billion', 'in', 'd..."
9147,Neutral,Air Canada: The Long Runway,"['air', 'canada:', 'the', 'long', 'runway']"
9148,Negative,ProPetro Holding (PUMP) Q4 Earnings and Revenu...,"['propetro', 'holding', '(pump)', 'q4', 'earni..."
9149,Negative,Xerox drops $34B HP take-over bid amid COVID-1...,"['xerox', 'drops', '$34b', 'hp', 'take-over', ..."

In [5]:
Neutral_Text = ""
Pos_Text = ""
Neg_Text = ""
for index, row in df.iterrows():
#     print(row['predicted_label'])
    if row['predicted_label'] == "Neutral":
        Neutral_Text = Neutral_Text+row['text']+' '
    if row['predicted_label'] == "Positive":
        Pos_Text = Pos_Text+row['text']+' '
    if row['predicted_label'] == "Negative":
        Neg_Text = Neg_Text+row['text']+' '

In [6]:
# Neutral_Text

In [7]:
# Cleaning text and lower casing all words
for char in ',$()-?&\'.â€˜â€™%:':
    Neutral_Text=Neutral_Text.replace(char,' ')
Neutral_Text
Neutral_Text = Neutral_Text.lower()
# split returns a list of words delimited by sequences of whitespace (including tabs, newlines, etc, like re's \s) 
word_list_neutral = Neutral_Text.split()
neutral_common_words = Counter(word_list_neutral).most_common()
df_sentiment_neutral = pd.DataFrame(neutral_common_words)
df_sentiment_neutral['predicted_labels'] = "Neutral"
df_sentiment_neutral

                   0     1 predicted_labels
0                 on  2122          Neutral
1                ceo  2032          Neutral
2           earnings  1976          Neutral
3         transcript  1948          Neutral
4               call  1942          Neutral
...              ...   ...              ...
10548          jumia     1          Neutral
10549           path     1          Neutral
10550  uncertainties     1          Neutral
10551   breakthrough     1          Neutral
10552        cushion     1          Neutral

[10553 rows x 3 columns]

In [8]:
# Cleaning text and lower casing all words
for char in ',$()-?&\'.â€˜â€™%:':
    Pos_Text=Pos_Text.replace(char,' ')
Pos_Text = Pos_Text.lower()
# split returns a list of words delimited by sequences of whitespace (including tabs, newlines, etc, like re's \s) 
word_list_Pos = Pos_Text.split()
pos_common_words = Counter(word_list_Pos).most_common()
df_sentiment_pos = pd.DataFrame(pos_common_words)
df_sentiment_pos['predicted_labels'] = "Positive"
df_sentiment_pos

             0    1 predicted_labels
0           to  972         Positive
1            s  769         Positive
2            a  692         Positive
3          the  683         Positive
4           in  666         Positive
...        ...  ...              ...
6499    payday    1         Positive
6500   sifting    1         Positive
6501       clx    1         Positive
6502      wifi    1         Positive
6503  millions    1         Positive

[6504 rows x 3 columns]

In [9]:
# Cleaning text and lower casing all words
for char in ',$()-?&\'.â€˜â€™%:':
    Neg_Text=Pos_Text.replace(char,' ')
Neg_Text = Neg_Text.lower()
# split returns a list of words delimited by sequences of whitespace (including tabs, newlines, etc, like re's \s) 
word_list_Neg = Neg_Text.split()
neg_common_words = Counter(word_list_Neg).most_common()
df_sentiment_neg = pd.DataFrame(neg_common_words)
df_sentiment_neg['predicted_labels'] = "Negative"
df_sentiment_neg

             0    1 predicted_labels
0           to  972         Negative
1            s  769         Negative
2            a  692         Negative
3          the  683         Negative
4           in  666         Negative
...        ...  ...              ...
6499    payday    1         Negative
6500   sifting    1         Negative
6501       clx    1         Negative
6502      wifi    1         Negative
6503  millions    1         Negative

[6504 rows x 3 columns]

In [10]:
df_sentiment_all = df_sentiment_pos.append(df_sentiment_neg)
df_sentiment_all = df_sentiment_all.append(df_sentiment_neutral)
df_sentiment_all

                   0    1 predicted_labels
0                 to  972         Positive
1                  s  769         Positive
2                  a  692         Positive
3                the  683         Positive
4                 in  666         Positive
...              ...  ...              ...
10548          jumia    1          Neutral
10549           path    1          Neutral
10550  uncertainties    1          Neutral
10551   breakthrough    1          Neutral
10552        cushion    1          Neutral

[23561 rows x 3 columns]

In [10]:
# df1 = pd.DataFrame(common_words)

In [16]:
df_sentiment_all.to_csv("Resources/Tableau_pre_covid_word_count_with_sentiment.csv")